SERVER_PORT=8081

DB_HOST=localhost
DB_PORT=5432
DB_NAME=fintech_auth
DB_USER=fintech
DB_PASSWORD=fintech

JWT_ISSUER=fintech-auth-service
JWT_SECRET=change-me-to-a-long-random-secret-at-least-32-chars
ACCESS_TOKEN_TTL_MINUTES=15
REFRESH_TOKEN_TTL_DAYS=7
